name: flutter_app
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  qr_flutter: ^4.1.0
  palette_generator: ^0.3.3+7
  flutter_colorpicker: ^1.1.0
  google_fonts: ^8.0.0
  image_picker: ^1.2.1
  universal_html: ^2.3.0
  flutter_bloc: ^9.1.1
  equatable: ^2.0.8
  uuid: ^4.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0
flutter:
  uses-material-design: true

  assets:
    - assets/
